langchain-openai
openai
requests
langchain-core
opencv-python
PyAudio
markdown
WeasyPrint
python-docx
llama-index-core
llama-index-readers-file
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
chromadb
dashscope
langgraph
jieba
keybert
sentence-transformers
numpy
matplotlib
langchain-community
